/app/config/parameters.yml
/bin/*
!bin/console
!bin/symfony_requirements
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/assetic/
/web/bundles/
/web/js/
/build/
/vendor/
.idea