{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sum from 1 to n</h1>
    <fieldset>
        <legend>Already calculated</legend>
        <span id="Calclulated">&nbsp;</span>
    </fieldset>
    <fieldset>
        <legend>Current calculation</legend>
        <ul id="CalculationList">
        </ul>
    </fieldset>
{% endblock body %}

{% block javascripts %}
    {# I am unable to use gos:ws with RequireJS :( #}
    {{ ws_client() }}

    {% javascripts output="js/app.js"
    '@requirejs'
    '@AcmeBundle/Resources/public/js/config.js' %}
    <script src='{{ asset_url }}'></script>
    {% endjavascripts %}

    <script>
        requirejs(['acme_channel']);
    </script>
{% endblock %}