{% extends 'base.html.twig' %}

{% block body %}
    <button id='sendMessage'>SEND MESSAGE</button>
{% endblock body %}

{% block javascripts %}
    {# I am unable to use gos:ws with RequireJS :( #}
    {{ ws_client() }}

    {% javascripts output="js/app.js"
    '@requirejs'
    '@AcmeBundle/Resources/public/js/config.js' %}
    <script src='{{ asset_url }}'></script>
    {% endjavascripts %}

    <script>
        requirejs(['acme_channel']);
    </script>
{% endblock %}