{% extends 'base.html.twig' %}

{% block body %}
    <button id='sendMessage'>SEND MESSAGE</button>
{% endblock body %}

{% block javascripts %}
    {% javascripts '@jquery' %}
    <script src='{{ asset_url }}'></script>
    {% endjavascripts %}
    {{ ws_client() }}

    <script>
        var webSocket = WS.connect('ws://127.0.0.1:8080');

        webSocket.on('socket/connect', function (session) {
            //session is an Autobahn JS WAMP session.
            console.log('Successfully Connected!');

            //the callback function in 'subscribe' is called everytime an event is published in that channel.
            session.subscribe('acme/channel', function (uri, payload) {
                console.log('Received message', payload.msg);
            });

            $('#sendMessage').on('click', function () {
                session.publish('acme/channel', {msg: 'This is a message!'});
            });
        });

        webSocket.on('socket/disconnect', function (error) {
            //error provides us with some insight into the disconnection: error.reason and error.code

            console.log('Disconnected for ' + error.reason + ' with code ' + error.code);
        });
    </script>


{% endblock %}